<footer class="footer">
        <div class="columns">
            <ul>
                <h4>ElectroHub</h4>
                <p>Your Trusted Electronics Store</p>
            </ul>
            <ul>
                <h4>Categories</h4>
                <li><a href="/categories.html?category=leptop">Leptop</a></li>
                <li><a href="/categories.html?category=smartphones">Mobile</a></li>
                <li><a href="/categories.html?category=smartwatch">Smart Watches</a></li>
                <li><a href="/categories.html?category=headphone">AirPods</a></li>
            </ul>
            <ul>
                <h4>Quick Links</h4>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/categories.html">Categories</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul>
                <h4>Contact Info</h4>
                <li><i class="fa-regular fa-envelope"></i>electrohub@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> +91 2233445566</li>
                <li><i class="fa-solid fa-map-marker-alt"></i> 123 mangledeep complex,surat,india.</li>
            </ul>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>&copy; 2023 ElectroHub. All rights reserved.</p>
            <div class="social-links">
                <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer>