<header>
        <nav class="navbar">
            <div class="logo">
                <h2>ElectroHub</h2>
            </div>
            <ul class="nav-links">
                <li ><a href="index.html"class="nav-link">Home</a></li>
                <li><a href="categories.html" class="nav-link">Categories</a></li>
                <li><a href="about.html" class="nav-link">About</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
                
            </ul>
            <div class="nav-actions">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>

                <a href="login.html" class="login-btn">
                    <i class="fa-solid fa-user "></i>
                    <span>Login</span>
                </a>

                <a href="cart.html" class="cart-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <button class="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>